@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?88038237');
  src: url('../font/fontello.eot?88038237#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?88038237') format('woff2'),
       url('../font/fontello.woff?88038237') format('woff'),
       url('../font/fontello.ttf?88038237') format('truetype'),
       url('../font/fontello.svg?88038237#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?88038237#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-gwarancja_icon:before { content: '\e800'; } /* '' */
.icon-unikatowe-szkolenia_v2:before { content: '\e801'; } /* '' */
.icon-wyklady:before { content: '\e802'; } /* '' */
.icon-symulator:before { content: '\e803'; } /* '' */
.icon-siatka:before { content: '\e804'; } /* '' */
.icon-praktyka:before { content: '\e805'; } /* '' */
.icon-lista:before { content: '\e806'; } /* '' */
.icon-e-learning:before { content: '\e807'; } /* '' */
.icon-mapa:before { content: '\e808'; } /* '' */
.icon-arrow_left:before { content: '\e80c'; } /* '' */
.icon-arrow:before { content: '\e815'; } /* '' */
.icon-arrow_up:before { content: '\e816'; } /* '' */
.icon-alert_triangle:before { content: '\e817'; } /* '' */
.icon-google:before { content: '\f0d5'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */