
.icon-gwarancja_icon:before { content: '\e800'; } /* '' */
.icon-unikatowe-szkolenia_v2:before { content: '\e801'; } /* '' */
.icon-wyklady:before { content: '\e802'; } /* '' */
.icon-symulator:before { content: '\e803'; } /* '' */
.icon-siatka:before { content: '\e804'; } /* '' */
.icon-praktyka:before { content: '\e805'; } /* '' */
.icon-lista:before { content: '\e806'; } /* '' */
.icon-e-learning:before { content: '\e807'; } /* '' */
.icon-mapa:before { content: '\e808'; } /* '' */
.icon-arrow_left:before { content: '\e80c'; } /* '' */
.icon-arrow:before { content: '\e815'; } /* '' */
.icon-arrow_up:before { content: '\e816'; } /* '' */
.icon-alert_triangle:before { content: '\e817'; } /* '' */
.icon-google:before { content: '\f0d5'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */