.btn-warning{
	background-color: #f1c720;
	border-color: #f1c720;
}

.panel{
	border-radius: 0px;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 0;
	box-shadow: none;
	margin-bottom: 0px;
}

.panel-default > .panel-heading{
	background-color: transparent;
    border-color: transparent;
}

.navbar {
    min-height: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-family: 'Roboto Mono', monospace;
}

body.site.index .navbar-inverse{
	background-color: transparent !important;
    border-color: transparent !important;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
}

body.site.index .site-index{
	min-height: 100%;
	height:100vh;
}

body.site.index .jumbotron{
	background: url('../img/layer-5.png');
	background-size: cover;
	margin: 0 !important;
	position: relative;
}

body.site.index .jumbotron form{
	margin-top: 60px;
}

body.site.index .select2-dropdown{
	border-radius: 0px;
}

body.site.index .select2-container--krajee .select2-selection--single {
    height: 60px;
    border-radius: 0px;
}

body.site.index .select2-container .select2-selection--single .select2-selection__rendered{
	font-family: 'Roboto Mono', monospace;
	font-size: 17px;
	font-weight: 700;
	line-height: 43px;
	color: #003272;
}

body.site.index .select2-container--krajee .select2-selection--single .select2-selection__placeholder{	
	color: #003272;
}

body.site.index .select2-container--krajee .select2-selection--single .select2-selection__arrow{
	border-left: none;
	height: 57px;
	width: 38px;
}

body.site.index .select2-container--krajee .select2-selection--single .select2-selection__arrow b {
    border-color: #003272 transparent transparent transparent;
    border-width: 7px 7px 0 7px;
    margin-left: -7px;
}

body.site.index .select2-container--krajee.select2-container--open .select2-selection--single .select2-selection__arrow b{
	border-color: transparent transparent #003272 transparent;
    border-width: 0 7px 7px 7px;
}

body.site.index .jumbotron .container {    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body.site.index .jumbotron h1{
	color: #fff;
	font-size: 59px;
	font-weight: 700;
	line-height: 47px;
}

body.site.index .jumbotron h2{
	color: white;
	font-size: 37px;
	font-weight: 400;
	line-height: 47px;
	margin-top: 20px;
}

body.site.index .base-info{
	padding-top: 50px;
	padding-bottom: 50px;	
}

body.site.index .base-info > div > div{	
	position: relative;
}

body.site.index .base-info > div > div:before{
	content:'';
	display: block;
	width: 1px;
	height: 100%;
	background: #d7d7d7;
	position: absolute;
	margin-left: -15px;
}

body.site.index .base-info > div > div:nth-child(1):before{
	display: none;
}

body.site.index .base-info .panel-heading img{
	height: 41px;
	display: block;
}

body.site.index .base-info .panel-heading h1{
	color: #003171;
	font-size: 55px;
	font-weight: 700;	
	height: 61px;
}

body.site.index .base-info .panel-heading h3{
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	margin: 12px 0 0 7px;
}

body.site.index .base-info .panel-body{
	padding-bottom:0
}

body.site.index .info-data{
	background-color: #f1f1f1;
	padding-bottom: 50px;
	padding-top: 20px;
}

body.site.index .info-data > div >.clearfix{	
	margin-top: 50px;
}

body.site.index .info-data h1{
	color: #003171;
	font-size: 28px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;	
}

body.site.index .info-data h3{
	font-size: 23px;
	font-weight: 700;
	line-height: 26px;
	color: #003171;
}

body.site.index .info-data .row{
	margin-top: 30px;
}

body.site.index .info-data .row.first-row .panel{
	border-bottom: 1px solid #588dd0;
}

body.site.index .panel .panel-body{
	padding-top:0;	
}

body.site.index .panel-heading h3 + p{
	margin-top:10px;
	font-weight: 700;
	font-family: 'Roboto Mono', monospace;
}

body.site.index .info-data .panel{
	background-color: transparent;
}

body.site.index .info-data .row.second-row .panel > div{
	padding: 0;
	position: relative;
}

body.site.index .info-data .row.second-row > div:nth-child(2):before{
	content:'';
	display: block;
	width: 1px;
	height: 100%;
	background: #d7d7d7;
	position: absolute;
	margin-left: -20%;
}

body.site.index .info-data .row.first-row .panel{
	background-color: #ffffff;
}
