html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.text-blue
{
	color:#003272;
}

h1.small
{
	font-size:17px;
	line-height:23px;
}

h2.big
{
	font-size:37px;
	line-height:40px;
}

h2.big span
{
	font-size:23px;
	line-height:40px;
}

.bg-grey
{
	background:#f1f1f1;
}
.bg-white
{
	background:#fff;
}
.bg-blue
{
	background:#0F2565;
}

.navbar
{
	border-radius:0px !important;
}
.btn
{
	border-radius:0px;
}

.btn.btn-primary
{
	border-color:#0c1d4f !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.nav-tabs
{
	border-bottom:0px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}


/*  TRAINING LIST ITEMS - GRID VIEW */

.item.grid .thumbnail
{
	padding-bottom:40px;
	padding-left:30px;
	padding-right:25px;
	padding-top:30px;
	border:0px;
	border-radius:0px;
	border-bottom:solid 1px #588dd0;
	background:#fff;
	height:420px;
	overflow:hidden;
	margin-bottom:30px;
}

.item.grid h2
{
	font-weight:bold;
	font-size:37px;
	line-height:37px;
	color:#003272;
	text-align:right;
}

.item.grid h2 span
{
	font-size:23px;
	display:inline-block;
	line-height:37px;
	margin-left:10px;
}

.item.grid h1
{
	font-weight:bold;
	font-size:17px;
	line-height:23px;
	color:#003272;
}

.item.grid .labels,
.item.grid .values
{
	line-height:22px;
	font-family:'Roboto';
	color:#878787;
}

.item.grid .values
{
	color:#003272;
}

/*  TRAINING LIST ITEMS - LIST VIEW */

.item.list
{
	margin-bottom:30px;
}

.item.list h2
{
	font-weight:bold;
	font-size:37px;
	line-height:37px;
	color:#003272;
}

.item.list h2 span
{
	font-size:23px;
	display:inline-block;
	line-height:37px;
	margin-left:10px;
}

.item.list h1
{
	font-weight:bold;
	font-size:17px;
	line-height:23px;
	color:#003272;
}

.item.list .labels,
.item.list .values
{
	line-height:22px;
	font-family:'Roboto';
	color:#878787;
}

.item.list .values
{
	color:#003272;
}

.training-categories
{
	height:65px;
	line-height:65px;
}

.training-categories ul
{
	margin:0px;
	padding:0px;
}

.training-categories li
{
	display:block;
	float:left;
	line-height:65px;
	margin:0px;
	padding:0px;
	margin-right:20px;
}

.training-categories li a
{
	font-size:17px;
	padding-left:30px;
	padding-right:30px;
	height:65px;
	display:block;
}

.training-categories li a:hover
{
	text-decoration:none;
}

.training-categories li a.disabled
{
	color:#a9a9a9;
}

.training-categories li a.selected
{
	font-size:28px;
	font-weight:bold;
	color:#003272;
	background:#fff;
	
}

.training-categories > div
{
	line-height:65px;
}

.training-categories .btn
{
	display:inline-block;
	width:100%;
}

ul.sorter
{
	display:inline-block;
	margin:0px;
	padding:0px;
	height:64px;
	line-height:64px;
}

ul.sorter li
{
	display:inline-block;
	margin:0px;
	padding:0px;
	list-style-type:none;
	padding-left:30px;
}

a.asc::after, a.desc::after
{
	display:none;
	content:none;
}

ul.sorter li a
{
	text-transform:lowercase;
	color:#808080;
}

ul.sorter li a.asc
{
	color:#0f2565;
	background:url(../img/asc.svg) no-repeat right center;
	padding-right:20px;
}

ul.sorter li a.desc
{
	color:#0f2565;
	background:url(../img/desc.svg) no-repeat right center;
	padding-right:20px;
}

.nav-tabs
{
	float:right;
}

.nav-tabs > li > a
{
	line-height:20px;
	color:#003272;
	font-weight:normal;
	text-align:center;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus
{
	border-bottom:none;
	background-color:#f1f1f1;
	border-color:#f1f1f1 !important;
	color:#003272;
}

.nav-tabs > li > a:hover
{
	border-color:#f1f1f1 #f1f1f1 #f1f1f1  #f1f1f1 !important;
	border-bottom:none !important
}

.nav-tabs > li > a
{
	border-color:#f1f1f1;
	margin:0px;
	margin-right:-1px;
}

.nav-tabs > li > a
{
	border-radius:0px;
}

i.ico
{
	display:inline-block;
	background-size:contain;
	margin-right:5px;
}

i.list
{
	width:17px;
	height:11px;
	background:url(../img/list.svg) no-repeat center center;
}

li.active i.list
{
	background:url(../img/list_blue.svg) no-repeat center center;
}

i.grid
{
	width:11px;
	height:11px;
	background:url(../img/grid.svg) no-repeat center center;
}

li.active i.grid
{
	background:url(../img/grid_blue.svg) no-repeat center center;
}

i.map
{
	width:12px;
	height:14px;
	background:url(../img/map.svg) no-repeat center center;
}

li.active i.map
{
	background:url(../img/map_blue.svg) no-repeat center center;
}

.row.back
{
	line-height:18px;
	padding-top:23px;
	padding-bottom:23px;
}
.row.back a
{
	font-weight:bold;
	font-family:"Roboto Mono";
	font-size:14px;
}

.container.training-details
{
	padding-top:45px;
}