.extraTopMargin{
  margin-top:20px;
}

a.text-white:hover {
  color:#fff;
  text-decoration:underline;
}

.loader,
.loader:before,
.loader:after {
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: #0f2565;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #fff;

  .loader{
    top: 50%;
    margin-top: -1.5em;
  }
}

.form-control {
  border-radius: 0;
  border-color: #f1f1f1;
  color: #0f2565;

  &.input-lg{
    @media screen and (max-width: 400px) {
      font-size: 13px;
    }
  }
}

@mixin font-bold() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: #0F2565;
  color: #0f2565;
  letter-spacing: 0.013em;
  line-height: 1.42857143;
  font-size: 13px;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.text-blue {
  color: #0f2565;
}

.text-white {
  color: #fff;
}

h1.small {
  font-size: 17px;
  line-height: 23px;
}

h2 {
  @include font-bold();
  font-size: 23px;
  line-height: 23px;
  + p {
    margin-top: 10px;
  }
}

h2.big {
  font-size: 37px;
  line-height: 40px;
  span {
    font-size: 23px;
    line-height: 40px;

    &:not(.numspan) {
      margin-left: 10px;
    }
  }
}

.bg-grey {
  background: #f1f1f1;
}

.bg-white {
  background: #fff;
}

.bg-blue {
  background: #0F2565;
}

.navbar {
  border-radius: 0px !important;
}

.btn {
  border-radius: 0px;
  padding: 10px 20px;
  letter-spacing: 0.075em;

  &.btn-primary {
    border-color: #0c1d4f !important;
    font-weight: 700;
  }

  @media screen and (min-width: 900px) {
    &.btn-lg{
      padding: 15px 50px;

      &.btn-block{
          padding: 15px 0px;
          text-align: center;
      }
    }
  }

  @media screen and (max-width: 450px) {
    &.btn-lg{
      padding: 17px 20px;
    }
  }

  &.filter-btn{
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 20px;
  }

}

.wrap {
  //min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
  background-color: #fff;
  overflow-x: hidden;
}

.nav-tabs {
  border-bottom: 0px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.jumbotron {
  background-color: transparent;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
    font-weight: 700;
    letter-spacing: 1px;
  }
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */

a {
  &.asc:after, &.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
  }
  &.asc:after {
    content: "\e151";
  }
  &.desc:after {
    content: "\e152";
  }
}

.sort-numerical a {
  &.asc:after {
    content: "\e153";
  }
  &.desc:after {
    content: "\e154";
  }
}

.sort-ordinal a {
  &.asc:after {
    content: "\e155";
  }
  &.desc:after {
    content: "\e156";
  }
}

.grid-view {
  td {
    white-space: nowrap;
  }
  .filters {
    input, select {
      min-width: 50px;
    }
  }
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */

.nav > li > form {
  padding: 0 8px;
  > button:hover {
    text-decoration: none;
  }
}

@media (max-width: 767px) {
  .nav li > form {
    padding: 3px;
  }
}

/*  TRAINING LIST ITEMS - GRID VIEW */

.item {
  &.grid {
    .thumbnail {
      padding-bottom: 100px;
      padding-left: 34px;
      padding-right: 34px;
      padding-top: 34px;
      border: 0px;
      border-radius: 0px;
      border-bottom: solid 1px #588dd0;
      background: #fff;
      overflow: hidden;
      margin-bottom: 22px;
      position: relative;

      > .buttonCnt{
          position: absolute;
          bottom: 35px;
          left:0px;

      }

      > .close{
        position: absolute;
        right: 15px;
        top: 15px;
      }

      img {
        @media screen and (max-width: 1024px) {
          max-width: 70px;
          width: auto;
          height: auto;
        }
      }

      h3 {
        @include font-bold();
        color: #0f2565;
        margin-top: 20px;
        margin-bottom: 5px;
      }

      .title-box {
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 22px;
        margin-bottom: 22px;
        height: 99px;
      }
    }
    h2 {
      font-weight: bold;
      font-size: 37px;
      line-height: 37px;
      color: #0f2565;

      span:not(.numspan) {
        font-size: 23px;
        display: inline-block;
        line-height: 37px;
        margin-left: 10px;
      }
    }
    h1 {
      font-weight: bold;
      font-size: 17px;
      line-height: 23px;
      color: #0f2565;
    }
    .labels {
      line-height: 22px;
      font-family: 'Open Sans', sans-serif;
      color: #878787;
    }
    .values {
      line-height: 22px;
      font-family: 'Open Sans', sans-serif;
      color: #878787;
      color: #0f2565;
    }
  }
  &.list {
    margin-bottom: 12px;

    .bg-white {
      padding-top: 25px;
      padding-bottom: 25px;
      border-bottom: solid 1px #588dd0;
    }

    h2 {
      @include font-bold();
      color: #0f2565;
      font-size: 37px;
      line-height: 37px;
      margin-bottom: 15px;

      span:not(.numspan) {
        font-size: 23px;
        display: inline-block;
        line-height: 37px;
        margin-left: 10px;
      }
    }

    h3 {
      font-size: 17px;
      @include font-bold();
      line-height: 18px;
      color: #0f2565;
      margin-bottom: 5px;
    }
    h1 {
      font-weight: bold;
      font-size: 17px;
      line-height: 23px;
      color: #0f2565;
    }
    .labels {
      line-height: 22px;
      font-family: 'Open Sans', sans-serif;
      color: #878787;
    }
    .values {
      line-height: 22px;
      font-family: 'Open Sans', sans-serif;
      color: #878787;
      color: #0f2565;
    }
  }
}


.select2-container--krajee{
  .select2-results{
    .select2-results__options {
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #8796b2;
        background-color: #0f2565;
      }

      &::-webkit-scrollbar {
        width: 5px;
        background-color: #0f2565;
      }

      &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px #8796b2;
        background-color: #8796b2;
      }
    }
  }
}

/*  TRAINING LIST ITEMS - LIST VIEW */

.bg-grey.training-list {
  border-bottom: 1px solid #dfdfdf !important;
  //border-top: 1px solid #dfdfdf !important;

  @media screen and (max-width: 768px){
    >.container{
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }

  .training-categories {
    ul {
      margin: 0px;
      padding: 0px;

      + div.form-group {
        border-right: 1px solid #dfdfdf;
      }
    }
    li:not(.select2-results__option) {
      display: block;
      float: left;
      line-height: 65px;
      margin: 0px;
      padding: 0px;
      border-right: 1px solid #dfdfdf !important;

      @media screen and (max-width: 400px) {
        line-height: 54px;
      }

      &:first-child {
        border-left: 1px solid #dfdfdf !important;

        @media screen and (max-width: 768px){
          border-left: none !important;
        }
      }
      a {
        font-size: 17px;
        padding-left: 30px;
        padding-right: 30px;
        height: 65px;
        display: block;
        color: #767676;

        @media screen and (max-width: 400px) {
          padding-left: 20px;
          padding-right: 20px;
          height: 55px;
        }

        &:not(.selected) {
          line-height: 68px;
          @media screen and (max-width: 600px) {
            line-height: 66px;
          }

          @media screen and (max-width: 450px) {
            line-height: 57px;
          }
        }

        &:hover {
          text-decoration: none;
        }
        &.disabled {
          color: #a9a9a9;
        }
        &.selected {
          font-size: 28px;
          font-weight: bold;
          color: #0f2565;
          background: #fff;
          position: relative;

          @media screen and (max-width: 400px) {
            font-size: 19px;
          }

          &:after {
            position: absolute;
            content: '';
            bottom: -4px;
            height: 6px;
            background: #fff;
            width: 100%;
            display: block;
            left: 0;
          }
        }
      }
    }
    > div {
      &.form-group {
        display: inline-block;
        margin-bottom: 0;
        min-width: 150px;

        &.field-trainingsearch-license_id2,
        &.field-trainingsearch-license_id{
          min-width: 198px;
        }

        #trainingsearch-license_id2,
        #trainingsearch-license_id{
          &.active{
            +.select2-container--krajee{
              &:not(.select2-container--open){
                .select2-selection.select2-selection--single{
                  background: #fff;

                  .select2-selection__rendered{
                    color: #0f2565 !important;
                    @include font-bold();
                    font-size: 28px;
                  }
                }
                &:after{
                  content: '';
                  position: absolute;
                  bottom: -2px;
                  display: block;
                  width: 100%;
                  height: 4px;
                  background: #fff;
                }
              }
            }
          }
        }

        @media screen and (max-width: 450px) {
          width: 49%;
          min-width: 100px !important;
        }

        /*@media screen and (max-width: 400px) {
          min-width: 128px !important;
        }

        @media screen and (max-width: 320px) {
          min-width: 108px !important;
        }*/

        &:last-child {
          //float: right;
        }

        .help-block {
          display: none;
        }

        .select2-container--krajee {

          .select2-selection {
            height: 65px !important;
            @media screen and (max-width: 400px) {
              height: 56px !important;
            }
          }

          .select2-selection__rendered {
            font-weight: 400;
            color: #767676 !important;
          }

          .select2-selection,
          .dropdown-wrapper {
            border: none;
            background: #f1f1f1;
          }

          .dropdown-wrapper:before {
            top: 27px;
            @media screen and (max-width: 400px) {
              top: 22px;
            }
          }

          &.select2-container--open {
            .select2-selection,
            .dropdown-wrapper {
              border: none;
              background: #0f2565;
            }

            .select2-selection__rendered {
              color: #fff !important;
            }
          }

          .select2-selection {
            padding: 11px 50px 6px 30px;
            background: #f1f1f1;

            @media screen and (max-width: 320px) {
              padding: 6px 13px 6px;
            }

            @media screen and (min-width: 321px) and (max-width: 400px) {
              padding: 6px 30px 6px;
              .select2-selection__arrow{
                top: 2px;
              }
            }

            @media screen and (min-width: 401px) and  (max-width: 768px) {
              padding: 11px 30px 6px;
              .select2-selection__arrow{
                top: 8px;
              }
            }

            @media screen and(min-width: 769px) and  (max-width: 799px) {
              padding: 15px 30px 6px;

              .select2-selection__arrow{
                top: 6px;
              }
            }

            @media screen and(min-width: 800px) and  (max-width: 1100px) {
              padding: 17px 30px 6px;
            }
          }
        }
      }
    }
    .btn {
      display: inline-block;
      width: 100%;
    }
  }
}

.nav-tabs {
  float: right;
  > li {
    > a {
      line-height: 20px;
      color: #a6a6a6;
      font-weight: normal;
      text-align: center;
    }
    &.active > a {
      border-bottom: none;
      background-color: #f1f1f1;
      border-color: #f1f1f1 !important;
      color: #0f2565;

      &:hover, &:focus {
        border-bottom: none;
        background-color: #f1f1f1;
        border-color: #f1f1f1 !important;
        color: #0f2565;
      }
    }
    > a {
      &:hover {
        border-color: #f1f1f1 #f1f1f1 #f1f1f1 #f1f1f1 !important;
        border-bottom: none !important;
      }
      border-color: #f1f1f1;
      margin: 0px;
      margin-right: -1px;
      border-radius: 0px;
    }
  }
}

body.training.index .nav-tabs,
body.view .tab-pane .nav-tabs {
  > li {
    &.active > a {
      background-color: #0F2565;
      border-color: #0F2565!important;
      color: #fff;

      &:hover, &:focus {
        background-color: #081539;
        border-color: #0c1d4f !important;
        color: #0F2565;
      }
    }
  }
}

.numspan {
  display: inline-block;
  width: 8px;
}

i {
  &.ico {
    display: inline-block;
    background-size: contain;
    margin-right: 5px;
  }

  &.list {
    width: 17px;
    height: 11px;
    background: url(../img/list.svg) no-repeat center center;
  }

  &.grid {
    width: 11px;
    height: 11px;
    background: url(../img/grid.svg) no-repeat center center;
  }

  &.map {
    width: 12px;
    height: 14px;
    background: url(../img/map.svg) no-repeat center center;
  }
}

.tab-pane {
  li {
    background: #f1f1f1;

    &.active {
      a {
        color: #fff !important;
      }
    }
  }
}

.slider {
  &.slider-horizontal {
    width: 100%;
    .slider-handle:nth-child(2) {
      margin-left: -20px;
    }

    .slider-tick:nth-child(1) {
      margin-left: 0;
    }

    .slider-handle:nth-child(1) {
      margin-left: 0px;
    }
  }
}

.input-group-addon {
  border-radius: 0;
}

.form-training-search {
  padding-top: 50px;
  padding-bottom: 50px;

  #termin-range{
    position: relative;
    margin-bottom: 15px;
  }

  label {
    color: #808080;
    padding-left: 15px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .row {
    > div {
      &:nth-child(4n) {
        @media screen and (min-width: 1200px) {
          clear: left;
        }
      }
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .datepicker-dropdown:before,
  .datepicker-dropdown:after {
    display: none;
  }

  #termin-range {
    span.date {
      display: inline-block !important;
      width: 50%;
      position: relative;

      .btn {
        height: 63px !important;
        width: 100%;
        border: 1px solid #f1f1f1;
        border-bottom-color: #0f2565;
        @include font-bold();
        color: #0f2565;
        font-size: 17px;
        background: #f1f1f1;

        @media screen and (max-width: 450px){
          height: 56px !important;
          padding: 7px 20px;
        }
      }

      &:first-child {
        .btn {
          border-right: none;
        }
      }

      &.active {
        .btn {
          background-color: #0f2565;
          color: #fff;
          border: none;
          padding-left: 24px;
          //text-align: left;
        }
      }
    }
  }

  label {
    font-weight: 400;
    width: 100%;

    + .form-control,
    + .form-control + .form-control {
      padding: 0;
      height: 63px;
      font-size: 17px;
      color: #0f2565;
      border: none;

      &::-webkit-input-placeholder {
        @include font-bold();
        color: #0f2565;
      }
      &::-moz-placeholder {
        @include font-bold();
        color: #0f2565;
      }
      /* Firefox 19+ */
      &:-moz-placeholder {
        @include font-bold();
        color: #0f2565;
      }
      /* Firefox 18- */
      &:-ms-input-placeholder {
        @include font-bold();
        color: #0f2565;
      }

      &:not(.jqselect) {
        @include font-bold();
        background: #f1f1f1;
        border: 1px solid #f1f1f1;
        border-bottom-color: #0f2565;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .select2-container--krajee {
    .select2-selection {
      border-bottom: 1px solid #0f2565;
    }
  }
}

.clearfix.back {
  line-height: 18px;

  > div {
    padding-right: 0px;

    &.s-item {
      padding-left: 0px;
      border-right: 1px solid #dfdfdf !important;
      @media screen and (min-width: 1300px) {
        &:not(.button) {
          width: 20%;
        }
      }

      &.button{
        border-right: none !important;

        button{
          @media screen and (max-width: 1024px) {
            padding-top: 16px;
            padding-bottom: 13px;
            border-bottom: 0;
          }
        }
      }

      &:last-child {
        margin-left: 0px;
      }

      .select2-container--krajee {
        &.select2-container--open {
          background: #0f2565;
          .select2-selection,
          .dropdown-wrapper {
            background: #0f2565;
          }
        }

        .select2-selection {
          height: 64px !important;
          @media screen and (max-width: 1024px) {
            height: 54px !important;
          }
        }
      }

      .btn,
      .btn:active,
      .btn:focus {
        outline: none;
        box-shadow: none;
      }

      .btn {
        &:hover {
          background: #0f2565;
          color: #fff;
        }
      }
    }
  }

  .form-group {
    margin-bottom: 0;
  }

  .help-block {
    display: none;
  }

  .btn {
    padding-top: 22px;
    padding-bottom: 16px;
    font-size: 17px;
    @media screen and (max-width: 1024px) {
      padding-top: 15px;
      padding-bottom: 12px;
    }
  }

  .select2-container--krajee {
    .select2-selection {
      background-color: #f1f1f1;
      border: none !important;
      box-shadow: none !important;
    }

    .dropdown-wrapper {
      background-color: #f1f1f1;
      border-top: none !important;
      border-left: none !important;
      border-bottom: none !important;
      box-shadow: none !important;
    }

    .select2-selection__rendered {
      font-size: 14px;
    }

    .select2-selection--single {
      padding: 11px 24px 16px 12px;

      @media screen and (max-width: 1023px) {
        padding-top: 5px;
      }

      @media screen and (max-width: 768px) {
        padding-top: 5px;
      }
    }
  }

  a {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-top: 24px;
    display: inline-block;

    @media screen and (max-width: 1024px) {
      padding-top: 19px;
    }
  }
}

.container.training-details {
  padding-top: 45px;

  @media screen and (max-width: 768px) {
    padding-top: 15px;

    >.clearfix{
      border-bottom: 1px solid #f2f2f2;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  }

  table.details {
    width: 100%;

    th {
      text-align: left;
    }
  }
}

.btn-warning {
  background-color: #f1c720;
  border-color: #f1c720;
  color: #0f2565;

  &:hover{
    color: #0f2565;
  }
}

.panel {
  border-radius: 0px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  box-shadow: none;
  margin-bottom: 0px;
}

.panel-default > .panel-heading {
  background-color: transparent;
  border-color: transparent;
}

/*.container.first_margin{
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}*/

nav {
  button.navbar-toggle {
    margin-right: 5px;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    position: absolute;
    background-color: #0f2565 !important;
    border-radius: 0 !important;

    &:focus,
    &.active {
      background-color: #0f2565 !important;
    }

    .icon-bar {
      width: 31px;
      -webkit-transition: all 350ms ease-in-out;
      transition: all 350ms ease-in-out;

      + .icon-bar {
        margin-top: 7px;
      }
    }

    &.collapsed {
      .icon-bar:first-child {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: 9px;
      }

      .icon-bar:nth-child(2) {
        display: none;
      }

      .icon-bar:last-child {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: -2px;
        margin-bottom: 4px;
      }
    }
  }

  &.mobile-menu {
    top: 51px;
    position: fixed;
    bottom: 0;
    left: -100%;
    background-color: #0f2565;
    z-index: 1500;
    padding: 10% 15%;

    .nav {
      margin: 0;

      > li {
        display: block;
        text-align: center;
        a {
          color: #fff;
          text-align: center;
          font-size: 23px;
          line-height: 33px;
          @include font-bold();

          &:focus,
          &:active,
          &:hover{
            background-color: #0f2565;
            opacity: 0.6;
          }
        }

        &.login {
          margin-left: 0px;
          margin-top: 15px;
          a {
            display: block;
            text-transform: uppercase;
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}

.navbar {
  min-height: 5px;
  padding-top: 18px;
  padding-bottom: 18px;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;

  .language-picker{
    margin-left: 45px;

    @media screen and (max-width: 767px) {
      margin-left: 0px;
      right: 10px;
    }

    a {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
      color: #fff;
      font-weight: 600;
      letter-spacing: 0.05em;
      font-size: 13px;
      opacity: 1 !important;

      @media screen and (max-width: 767px) {
        padding-top: 4px;
        padding-bottom: 0px;
      }

      +a{
        position: relative;
        margin-left: 10px;

        &:before{
          content: '/';
          color: #fff !important;
          position: absolute;
          left:-10px;
        }
      }

      &.active{
        font-weight: 700;
      }
    }
  }

  img {
    &#logo {
      width: 100%;
      max-width: 109px;
    }
  }

  @media screen and (max-width: 1024px) {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;

    img {
      &#logo {
        height: 40px;
        width: auto;
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 0px;

    .container{
      >a{
        margin: 0 auto;
        width: calc(100% - 98px);
        display: inline-block;
        text-align: center;
        margin-left: 40px;
      }
    }

    img {
      &#logo {
        height: 30px;
      }
    }
  }

  &.small-h {
    @media screen and (min-width: 1025px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.select2-container {
  .select2-search--inline {
    float: none;
    display: block;
    height: 35px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;

    input {
      width: 100%;
    }
  }

  .select2-dropdown {
    border-radius: 0px;
    border-color: #0f2565;
  }

  .select2-selection--multiple {
    .select2-selection__choice {
      display: inline-block;
      float: none;
      border: none;
      background: none;
      margin: 0px 0 0 !important;
      padding: 12px 0 0 !important;
      height: 63px !important;
      color: #0f2565;

      + .select2-selection__choice {
        &:before {
          content: ', ';
        }
      }
    }

    .select2-selection__choice__remove {
      display: none;
    }
  }
}

.form-group {
  position: relative;

  &.has-error{
    border-color: #ff2942;
    .help-block{
      display: none;
    }

    label{
      color: #d01f34;
    }
  }

  .result {
    @include font-bold();
    height: 63px;
    font-size: 17px;
    color: #0f2565;
    padding: 18px 15px;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-bottom-color: #0f2565;
    position: relative;
    cursor: pointer;

    &:after {
      display: block;
      width: 15px;
      height: 8px;
      position: absolute;
      right: 19px;
      top: 26px;
      content: '\e815';
      font-family: "fontello";
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 10px;
    }

    + .slideup {
      display: none;
      position: absolute;
      background-color: #0f2565;
      top: 25px;
      height: 161px;
      padding: 65px 15px 15px;
      z-index: 5;
      color: #fff;
      border-radius: 0;
      z-index: 120;
      width: 100%;

      >span{
        &:not(.arrow){
          display: block;
          position: relative;
          top: -50px;
        }

        &.arrow{
          display: block;
          width: 50px;
          height: 50px;
          position: absolute;
          right: 0px;
          top: 3px;
          font-size: 10px;
          font-family: "fontello";
          font-style: normal !important;
          padding: 15px;
          z-index: 150;
          cursor: pointer;

          &:before{
            content: '\e816';
          }
        }
      }

      .tooltip,
      .slider-tick-label-container {
        display: none;
      }

      h3 {
        font-size: 37px;
        margin-top: 19px;

        @include font-bold();
        margin-bottom: 10px;
      }

      .slider-track {
        height: 4px;
        width: 100%;
        margin-top: -2px;
        top: -30px;
        position: relative;
        left: 0;
        border-radius: 0;
      }

      .slider-handle {
        width: 10px;
        top: -3px;
        background: #fff;
        &:active,
        &:focus{
          cursor: grabbing;
          cursor: -moz-grabbing;
          cursor: -webkit-grabbing;
        }
      }

      .slider-selection{
        position: relative;
        &:before{
          content: '';
          position: absolute;
          height: 8px;
          width: 100%;
          display: block;
          background: #fff;
          top: -2px;
        }
      }

      .slider-track-low,
      .slider-track-high,
      .slider-selection {
        border-radius: 0;
      }
    }

    &.open {
      background-color: #0f2565;
      color: #fff;

      + .slideup {
        display: block;
      }
    }
  }
}

.select2-container--krajee.select2-container--open .select2-selection, .select2-container--krajee .select2-selection:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  border-color: #0f2565;
}

.select2-container--krajee {
  .select2-selection {
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
    height: 63px !important;
    background: #f1f1f1;
    box-shadow: none;
    border-color: #f1f1f1;
    border-bottom-color: #0f2565;
    .select2-selection__arrow{
      b{
        display: block !important;
        position: absolute !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        width: 40px !important;
        background: #f1f1f1 !important;
        border: none !important;
        //border-bottom: 1px solid #0f2565 !important;
        font-family: "fontello";
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 1 !important;
        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: grayscale !important;
        color: #0f2565 !important;
        margin-left: auto !important;

        @media screen and (max-width: 768px) {
          width: 30px !important;
        }

        &:before {
          content: '\e815';
          display: block;
          width: 15px;
          height: 8px;
          position: absolute;
          left: 5px;
          top: 28px;
          font-size: 10px;

          @media screen and (max-width: 1024px) {
            left: 5px;
            top: 25px;
          }

          @media screen and (max-width: 900px) {
            left: 10px;
            top: 21px;
          }

          @media screen and (max-width: 768px) {
            left: 0px;
            top: 23px;
          }
        }
      }
    }
  }

  .select2-search--inline {
    height: 63px !important;

    .select2-search__field {
      cursor: pointer;
      height: 63px !important;
      width: 100% !important;

      &::-webkit-input-placeholder {
        @include font-bold();
        color: #0f2565;
      }
      &::-moz-placeholder {
        @include font-bold();
        color: #0f2565;
      }
      /* Firefox 19+ */
      &:-moz-placeholder {
        @include font-bold();
        color: #0f2565;
      }
      /* Firefox 18- */
      &:-ms-input-placeholder {
        @include font-bold();
        color: #0f2565;
      }
    }
  }

  .dropdown-wrapper {
    display: none;
  }

  .select2-selection {
    border-radius: 0px;
    box-shadow: none !important;
    padding: 8px 37px 6px 15px;
    position: relative;

    @media screen and (min-width: 900px) and (max-width: 1024px) {
      padding: 13px 37px 6px 15px;
    }

    &.select2-selection--multiple{
      &:after {
        display: block;
        width: 15px;
        height: 8px;
        position: absolute;
        right: 18px;
        top: 26px;
        content: '\e815';
        font-family: "fontello";
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        FONT-SIZE: 10PX;
        color: #0f2565;
      }
    }
  }

  .select2-selection__rendered {
    @include font-bold();
    font-size: 17px;
    line-height: 43px;
    color: #0f2565 !important;

    @media screen and (width: 1024px) {
      line-height: 33px;
    }
  }

  .select2-selection--single {
    .select2-selection__placeholder {
      color: #0f2565 !important;
    }
    .select2-selection__arrow {
      border-left: none !important;
      height: 57px !important;
      width: 38px !important;

      @media screen and (max-width: 1024px) {
        top: 5px;
      }

      @media screen and (max-width: 768px) {
        top: 8px;
        right: 13px;
      }

      b {
        border-color: #0f2565 transparent transparent transparent;
        border-width: 7px 7px 0 7px;
        margin-left: -18px;
      }
    }
  }

  &.select2-container--open {
    .select2-dropdown {
      border: none;
      z-index: 51;
    }
    .select2-selection__arrow{
      b {
        background: #0f2565 !important;
        color: #fff !important;
        &:before {
          content: '\e816';
        }
      }
    }

    .select2-selection.select2-selection--multiple{
      &:after{
        color: #fff !important;
        content: '\e816';
      }
    }

    .select2-selection__rendered {
      color: #fff !important;
    }

    .select2-results__option[aria-selected=true] {
      background: #fff;
      color: #0f2565;
    }

    .select2-search--inline {
      .select2-search__field {
        &::-webkit-input-placeholder {
          color: #fff;
        }
        &::-moz-placeholder {
          color: #fff;
        }
        /* Firefox 19+ */
        &:-moz-placeholder {
          color: #fff;
        }
        /* Firefox 18- */
        &:-ms-input-placeholder {
          color: #fff;
        }
      }
    }

    .select2-selection--single .select2-selection__arrow b {
      border-color: transparent transparent #0f2565 transparent;
      border-width: 0 7px 7px 7px;
    }
  }
}

.select2-container--krajee {
  &.select2-container--open {
    background: #0f2565;
    .select2-selection,
    .select2-selection__placeholder {
      background: #0f2565;
      color: #fff !important;
    }
    .select2-selection__choice {
      color: #fff;
    }
  }

  .select2-results {
    background: #0f2565;
    color: #fff;

    .select2-results__options {
      .select2-results__option--highlighted {
        &[aria-selected] {
          background: #fff;
          color: #0f2565;
        }
      }

      .select2-results__option {
        background: #0f2565;
        color: #fff;
      }

      &[aria-multiselectable="true"] {
        .select2-results__option {
          &[aria-selected=true] {
            background: #fff;
            color: #0f2565;
            position: relative;

            &:after {
              content: '\274C';
              position: absolute;
              right: 7px;
              top: 7px;
            }
          }
        }
      }
    }
  }
}

body.index {

  &.site {

    .wrap{
      .select2-container--krajee {
        .dropdown-wrapper {
          border-bottom: 1px solid #fff;
        }

        .select2-selection {
          border: none !important;
          height: 61px !important;

          @media screen and (max-width: 450px) {
            height: 45px !important;
          }
        }
      }
    }

    @media screen and (min-width: 768px){
      .navbar-inverse {
        background-color: transparent !important;
        border-color: transparent !important;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 10;
        width: 100%;
      }
    }

    .site-index {
      min-height: 100%;
    }

    .navbar{
      .language-picker {
        margin-top: 12px;

        @media screen and (max-width: 767px) {
          margin-top: -12px;
          top: 7px;
          margin-left: 0px;
        }

        @media screen and (max-width: 400px) {
          margin-top: -7px;
        }
      }
    }

    .navbar-nav {
      li.login {
        &.login {
          padding-top: 15px;
        }
      }
    }
  }

  .item {
    &.grid {
      .thumbnail {
        h2 {
          text-align: right;
          margin-top: 20px;
        }
      }
    }
  }
  .jumbotron {
    background: url('../img/layer-5.png') top center;
    background-size: cover;
    margin: 0 !important;
    position: relative;

    @media screen and (max-width: 400px) {
      padding-bottom: 40px;

      >.container{
        padding-left: 8.3333333%;
        padding-right: 8.3333333%;
      }
    }

    @media screen and (min-width: 768px) {
      max-height: 586px;
    }

    form {
      @media screen and (min-width: 1024px) {
        margin-top: 60px;
      }

      @media screen and (max-width: 767px) {
        > div {
          &:last-child {
            text-align: center;
            margin-top: 20px;

            @media screen and (max-width: 450px) {
              margin-top: 0px;
            }
          }

          .btn {
            display: inline-block;
            width: auto;
            padding: 14px 50px;
            margin: 0 auto;

            @media screen and (max-width: 450px) {
              padding: 6px 30px;
            }
          }
        }
      }

      @media screen and (max-width: 450px) {
        margin-top: 25px;


        .select2-container--krajee{
          .select2-selection__rendered{
            line-height: 27px;
          }

          .select2-selection__arrow{
            top: 4px;
            height: 36px !important;

            b:before{
              left: 13px;
              top: 14px
            }
          }
        }
      }
    }

    .container {
      position: absolute;
      transform: translate(0, -50%);
      top: 50%;

      @media screen and (min-width: 768px) {
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @media screen and (max-width: 767px) {
        left: 0;
        right: 0;
      }
    }
    h1 {
      color: #fff;
      font-size: 59px;
      font-weight: 700;
      line-height: 61px;

      @media screen and (min-width: 1200px) {
        margin-top: 50px;
      }

      @media screen and (max-width: 767px) {
        font-size: 37px;
        line-height: 42px;
        text-align: center;
      }

      @media screen and (max-width: 450px) {
        margin-top: 0px;
        font-size: 28px;
        line-height: 30px;
        text-align: left;
      }
    }
    h2 {
      color: white;
      font-size: 37px;
      font-weight: 400;
      line-height: 47px;
      margin-top: 20px;
      margin-bottom: 15px;

      @media screen and (max-width: 767px) {
        font-size: 24px;
        margin-top: 0px;
        text-align: center;
      }

      @media screen and (max-width: 450px) {
        line-height: 31px;
        font-size: 17px;
        text-align: left;
        margin-top: 10px;
      }
    }
  }
  .base-info {
    padding-top: 50px;
    padding-bottom: 50px;
    @media screen and (max-width: 767px) {
      padding-top: 15px;
      padding-bottom: 10px;
    }

    > div > div {
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        background: #d7d7d7;
        position: absolute;
        margin-left: -15px;
      }
      &:nth-child(1):before {
        display: none;
      }
      &:nth-child(3):before {
        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
    }
    .panel-heading {
      img {
        height: 41px;
        display: block;
      }
      h1 {
        color: #003171;
        font-size: 55px;
        font-weight: 700;
        height: 61px;
        display: inline-block;
        vertical-align: middle;
      }
      h3 {
        font-size: 14px;
        @include font-bold();
        line-height: 20px;
        margin: 0px 0 0 7px;
        color: #0f2565;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .panel-body {
      padding-bottom: 0;
    }
  }
  .info-data {
    background-color: #f1f1f1;
    padding-bottom: 50px;
    padding-top: 20px;
    > div > .clearfix {
      margin-top: 20px;
    }
    h1 {
      color: #003171;
      font-size: 28px;
      @include font-bold();
      line-height: 26px;

      + a.pull-right {
        margin-top: 8px;
        text-transform: uppercase;
        letter-spacing: 0.06em;
      }
    }
    h3 {
      font-size: 23px;
      @include font-bold();
      line-height: 26px;
      color: #003171;
    }
    .row {
      margin-top: 30px;
      &.first-row .panel {
        border: 1px solid #ebebeb;
        border-bottom-color: #588dd0;
      }
    }
  }
  .panel {
    .panel-body {
      padding-top: 0;
    }

    .panel-footer {
      background: none;
      border-top: none;
    }
  }

  .info-data {
    .panel {
      background-color: transparent;
    }
    .row {
      &.second-row {

        > div {
          @media screen and (max-width: 767px) {
            + div {
              margin-top: 25px;
            }
          }
        }

        .panel > div {
          padding: 0;
          position: relative;

          &.panel-heading {
            h3 {
              line-height: 22px;
              font-size: 17px;
              @include font-bold();
            }

            p {
              line-height: 22px;
              font-size: 17px;
              text-transform: uppercase;
              @include font-bold();
            }
          }

          em {
            color: #003171;
            font-size: 17px;
            line-height: 26px;
          }
        }
        > div:nth-child(2):before {
          content: '';
          display: block;
          width: 1px;
          height: 100%;
          background: #d7d7d7;
          position: absolute;
          margin-left: -20%;

          @media (max-width: 1024px) {
            display: none;
          }
        }
      }
      &.first-row .panel {
        background-color: #fff;
        margin-bottom: 22px;

        .panel-heading {
          padding: 40px 43px 10px;
        }

        .panel-body {
          padding: 8px 43px 40px;
        }

        .panel-footer {
          padding-bottom: 40px;
          padding-top: 0;
        }
      }
    }
  }
}



body.about,
body.licence.view{
  .contact_form {
    h2,
    h3 {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    ul, ol {
      padding-left: 17px;
      li {
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
  }
}

.contact_form,
.tab-content,
.panel-body{
  ul:not(.sorter){
    list-style-type: square;

    li:not([role="presentation"]){
      list-style-type: square;
      position: relative;

      /*&:before {
        content: "⯀";
        position: absolute;
        left: -17px;
        top: 3px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        @media screen and (max-width: 400px) {
          top: 5px;
        }
      }*/
    }
  }
}

body.contact,
body.office.index,
body.licence.view{
  .contact_form {
    > h1 {
      margin-bottom: 50px;

      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
      }

      + h3 {
        + p {
          margin-top: 10px;
        }
      }
    }
    > form {
      margin-top: 55px;

      > h3 {
        margin-bottom: 15px;
        font-size: 23px;
        @include font-bold();
      }
    }

    .form-control{
      color: #878787;
    }

    &.phone-details {
      padding-top: 185px;

      @media screen and (max-width: 768px) {
        padding-top: 0px;
      }
    }

    p {
      letter-spacing: 0.025em;
    }
  }

  img[src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png"] {
    display: none;
  }
}

hr {
  border-top: 1px solid #f2f2f2;
  display: inline-block;
  width: 100%;
}

.star-ratings-sprite {
  background: url("../img/star.png") repeat-x;
  font-size: 0;
  height: 12px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 65px;
  display: inline-block;

  &-rating {
    background: url("../img/star-full.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 12px;
    display: inline-block;
  }
}

table.details {
  margin: 0 auto;
  th {
    white-space: nowrap;
    text-align: right;
  }
}

table.details,
table.details2 {
  width: 100%;
  td, th {
    font-weight: 400;
    padding: 3px 0;
    letter-spacing: 0.015em;
  }
  td {
    color: #0f2565;
    padding-left: 16px;
    width: 50%;
  }
  th {
    white-space: nowrap;
    color: #878787;
  }
}

.contact_form {
  padding-bottom: 100px;
  padding-top: 45px;

  @media screen and (max-width: 768px) {
    padding-top: 25px;
    padding-bottom: 25px;

    h1{
      font-size: 29px;

      &.school-name{
        font-size: 17px;
        line-height: 23px;
      }
    }
  }

  h2.big {
    border-bottom: 1px solid #f2f2f2;
    clear: both;
    padding-bottom: 28px;

    + h1.small {
      padding: 20px 0;
      border-bottom: 1px solid #f2f2f2;
      margin-bottom: 10px;
    }
  }

  h1.small {
    margin-bottom: 5px;
    padding-top: 5px;
  }

  .mobile-buttons-call{
    margin-top: 35px;
  }

  .btn-lg {
    @include font-bold();
    padding: 15px 50px;
    &.btn-block {
      padding: 15px 0px;
      color: #0f2565;
      @include font-bold();
      font-size: 17px;
      letter-spacing: 0.025em;
      border-width: 2px;

      &:first-child {
        font-size: 23px;
      }
      &:hover {
        color: #0f2565;
        background-color: #ffffff;
        border-color: #0f2565;
      }
    }
  }

  hr {
    border-color: #b9bece;
    display: block;
    margin-top: 75px;
    margin-bottom: 25px;
  }

  label {
    @include font-bold();
    color: #0f2565;
    display: block;
  }

  .intl-tel-input {
    display: block;
  }

  .form-group.has-error{
    span.icon-alert_triangle{
      &:before{
        color: #ff2942;
        position: absolute;
        right: 7px;
        font-size: 26px;
        top: 9px;
      }
    }
    input, textarea {
      border-bottom-width: 2px;
    }
  }

  @media screen and (max-width: 450px) {
    button{
      &[type="submit"]{
        text-transform: uppercase;
      }
    }
  }

  input, textarea {
    border: 2px solid #f1f1f1;
    border-bottom-color: #0f2565;
    color: #878787;
    background: #f1f1f1;
    border-bottom-width: 1px;
  }

  textarea{
    &::-webkit-input-placeholder {
      font-weight: 400;
      color: #878787;
      font-size: 14px;
    }
    &::-moz-placeholder {
      font-weight: 400;
      color: #878787;
      font-size: 14px;
    }
    &:-moz-placeholder {
      font-weight: 400;
      color: #878787;
      font-size: 14px;
    }
    &:-ms-input-placeholder {
      font-weight: 400;
      color: #878787;
      font-size: 14px;
    }
  }

  .field-schoolrates-rate{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .checkbox{
    .jq-checkbox{
      float: left;
      +p{
        display: inline-block;
        width: calc(100% - 20px);
        position: relative;
        top: -5px;
        padding-left: 5px;
        margin: 0;
      }
    }
  }

  ::-webkit-input-placeholder {
    @include font-bold();
    color: #0f2565;
  }
  ::-moz-placeholder {
    @include font-bold();
    color: #0f2565;
  }
  /* Firefox 19+ */
  :-moz-placeholder {
    @include font-bold();
    color: #0f2565;
  }
  /* Firefox 18- */
  :-ms-input-placeholder {
    @include font-bold();
    color: #0f2565;
  }

  form {
    > h2 {
      margin-top: 15px;
      margin-bottom: 20px;

      @media screen and (max-width: 767px) {
        margin-top: 35px;
      }
    }
  }
}

.bg-grey {
  @media screen and (max-width: 450px) {
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.07);
  }

  .container {
    @media screen and (max-width: 767px) {
      .s-item {
        &:not(.button) {
          width: calc(50% - 31px);
        }
      }
    }
  }
}

body {
  &.training.view {
    .tab-content {
      @media screen and (max-width: 767px) {
        display: none !important;
      }
    }

    .row.schoolRates{
      hr{
        margin-top: 20px;
        border-top: 1px solid #0f2565;
        opacity: 0.25;
      }

      h5{
        font-weight: 400;
        font-size: 14px;

        strong{
          @include font-bold();
          padding-right: 5px;
        }
      }

      .school-ratings{
        margin: 5px 0;
      }
    }
  }
}

body {
  &.view{
    @media screen and (max-width: 767px) {
      .training-details img {
        right:5px;
        top:5px;
        height:50px;
        position:absolute;
      }

      .logo-cnt {
        float:right;
      }
    }
  }

  &.view,
  &.training.index {
    &.school {
      .tab-content {
        .tab-pane {
          > .container {
            padding-top: 0px;
          }
        }
      }
    }

    .bg-grey {
      .container {
        @media screen and (max-width: 767px) {
          padding: 0;

          > div.sorting {
            position: absolute;
            left: 15px;
            z-index: 50;
            top: 15px;
          }
        }
      }
    }

    .training-details {
      h2.big {
        margin-bottom: 10px;
        &.school-title{
          font-size: 17px;
          line-height: 23px;
        }
      }

      h1.small {
        margin-bottom: 5px;
      }

      @media screen and (max-width: 767px) {
        h2.big{
          margin-bottom: 0px;
        }
      }
    }

    .container {
      position: relative;
    }

    .training-view {
      margin-top: 50px;

      h1, h2 {
        color: #0f2565;
        margin-bottom: 35px;
        @media screen and (max-width: 768px) {
          margin-bottom: 25px;
        }
      }

      @media screen and (max-width: 768px) {
        h2 {
          &:not(.price){
            font-size: 16px;
          }
        }

        .panel-heading {
          background-color: #f1f1f1;
          padding: 15px;

          h4.panel-title {
            font-size: 23px;
            color: #0f2565;
            @include font-bold();
            position: relative;

            &:after {
              position: absolute;
              top: 6px;
              display: inline-block;
              font-family: "fontello";
              font-style: normal;
              font-weight: 400;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              content: '\e815';
              right: 0;
              FONT-SIZE: 10PX;
            }

            a {
              display: block;
            }
          }

          &.active {
            h4.panel-title {
              &:after {
                content: '\e816';
              }
            }

            + .panel-collapse {
              .panel-body {
                border-top: none;
              }
            }
          }
        }

        .panel-group .panel {
          border-bottom: 1px solid #e3e3e3;
          + .panel {
            margin-top: 0;
          }
        }
      }

      > .tab-content,
      > .panel-group {
        border-top: 1px solid #e3e3e3 !important;

        @media screen and (min-width: 769px) {
          > .tab-pane {
            > .container {
              &:not(.not-padding) {
                padding-top: 35px;
              }

              > h2 {
                padding-top: 35px;
              }
            }
          }
        }

        @media screen and (max-width: 768px) {
          .panel-body {
            > .container {
              &:not(.not-padding) {
                padding-top: 25px;
              }

              > h2 {
                padding-top: 25px;
                font-size: 16px;
              }

              .requirements {
                > h2 {
                  padding-top: 25px;
                }
              }
            }
          }
        }

        > .tab-pane,
        .panel-body {
          > .container {
            > h2 {
              padding-top: 35px;
            }
          }
        }

        .row {
          > div {
            + .requirements {
              position: relative;

              &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 1px;
                background: #b9bece;
                left: -15%;
              }
            }
          }
        }
      }

      > .nav-tabs {
        float: none;
        z-index: 1;

        @media screen and (max-width: 768px) {
          display: none;
        }

        li {
          a {
            color: #0f2565;
            font-size: 17px;
            line-height: 23px;
            padding: 18px 20px;
            margin-top: 10px;
            @include font-bold();
            border-color: #e3e3e3 !important;
            border-bottom: none !important;

            &:hover {
              color: #0f2565;
              border-color: #e3e3e3 !important;
              border-bottom: 1px #dfdfdf !important;
            }
          }

          &.active {
            a {
              color: #0f2565;
              padding: 23px 20px;
              margin-top: 0 !important;
              border-color: #e3e3e3 !important;
              border-bottom: none !important;
            }
          }
        }
      }
    }

    .tab-pane,
    .panel {
      .nav-tabs {
        position: absolute;
        right: 0;
        z-index: 50;
        top: 20px;

        @media screen and (max-width: 450px) {
          top: 13px;
        }

        @media screen and (max-width: 400px) {
          top: 14px;
        }

        &.training {
          right: 12px;
          @media screen and (max-width: 768px){
            right: 20px;
          }

          @media screen and (max-width: 450px){
            right: 12px;
          }
        }

        li {
          &:last-child {
            a {
              border-right: 1px solid #ddd !important;
            }
          }

          a {
            padding: 8px 12px;
            border-top: 1px solid #ddd !important;
            border-bottom: 1px solid #ddd !important;
            border-left: 1px solid #ddd !important;
          }
        }
      }

      .aircrafts,
      .simulators{
        padding-top: 35px;
        .item {
          margin-bottom: 25px;

          @media screen and (max-width: 450px) {
            img{
              margin: 0 auto;
              display: block;
            }

            h2 {
              font-size: 23px;
            }
          }
        }
      }

      .item {
        &.grid{
          .thumbnail {
            h2 {
              margin-bottom: 5px;
              margin-top: 5px;
            }
          }
        }
      }
    }

    .tab-content,
    .panel {
      .panel-heading {
        h4.panel-title {

        }
      }

      .sorting {
        color: grey;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;

        ul.sorter {
          display: inline-block;
          margin: 0px;
          padding: 0px;
          line-height: 80px;
          margin-left: 22px;

          li {
            display: inline-block;
            margin: 0px;
            padding: 0px;
            list-style-type: none;

            + li {
              margin-left: 22px;
            }

            a {
              position: relative;
              text-transform: lowercase;
              color: #808080;

              &.asc {
                color: #0f2565;
              }
              &.desc {
                color: #0f2565;
              }

              &:after {
                display: inline-block;
                content: '\e815';
                font-family: "fontello";
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                background-size: contain;
                top: -2px;
                margin-left: 5px;
                position: relative;
                padding: 0;
                font-size: 7px;
              }

              &.asc:after {
                content: '\e816';
              }

              /*&.asc:before,
              &.desc:before {
                display: none;
                content: none;
              }*/
            }
          }
        }
      }

      .panel-body {
        padding: 0;
      }

      .tab-pane,
      .panel-body {
        background: #f1f1f1;
        padding-bottom: 25px;

        @media screen and (min-width: 768px) {
          h1.empty-text {
            padding-top: 75px;
            padding-bottom: 25px;
          }
        }

        /*> h1{
          @media screen and (max-width: 767px) {
            font-size: 23px;
            margin: 0;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 15px;
          }
        }*/

        .container {
          > .col-lg-12 {
            @media screen and (min-width: 768px) {
              padding: 0;
            }
          }
        }

        &#view_map,
        &#map-panel {
          padding-top: 0px;
          padding-bottom: 0px;
        }

        .progress-line {
          + .progress-line {
            padding-top: 25px;
          }

          h3 {
            color: #0f2565;
            @include font-bold();
            font-size: 14px;
            border-left: 1px solid #000000;
            padding-bottom: 50px;
            padding-left: 5px;

            @media screen and (max-width: 767px) {
              border-left: none;
              padding-bottom: 5px;
              white-space: nowrap;
              padding-left: 0;
            }
          }

          h4 {
            color: #0f2565;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            border-left: 1px solid #000000;
            padding-top: 15px;
            padding-left: 5px;

            @media screen and (max-width: 767px) {
              padding-top: 8px;
            }
          }

          > div {
            > div {
              float: left;
              color: #fff;

              span {
                font-size: 23px;
              }
            }
          }
          > div:nth-child(2) {
            > div {
              padding: 5px;
            }
          }
        }

        .aircrafts,
        .simulators{
          .item {
            background: #fff;
            padding: 30px;

            h2 {
              margin-top: 10px;
              border-top: 1px solid #f2f2f2;
              padding-top: 15px;
              margin-bottom: 20px;
            }

            table {
              width: 100%;
            }
          }

          &:not(.aircrafts){
            .item {
              h2 {
                border-top: none;
                margin-top: 0px;
                padding-top: 0px;
              }
            }
          }
        }
      }
    }

    .licence-descriptions {
      margin-top: 25px;
      color: #878787;
    }

    .phone-details {
      @media screen and (max-width: 767px) {
        padding-top:0px;
        margin-top:-20px;

        a.btn-block {
          width: 49%;
          float: left;
          margin-top: 0;
          &.phone {
            margin-left: 2%;
            font-size: 18px;
          }
        }

        hr {
          clear: both;
        }
      }
      @media screen and (max-width: 400px) {
        a.btn-block {
          width: 96%;
          float:none!important;
          margin:10px 0px 0px 0px!important;
          clear:both;

          &.phone {
            margin-left: 2%;
          }
        }
      }

      h2.big {
        margin-bottom: 13px;
        padding: 0;
        line-height: 30px;
      }

      > span {
        display: block;
        margin-top: 29px;
        color: #0f2565;
        @include font-bold();
        font-size: 17px;
      }

      @media screen and (min-width: 1024px) {
        a.btn.btn-lg{
          padding: 20px;
        }
      }

      a.phone {
        color: #0f2565;
        @include font-bold();
        font-size: 23px;
        border-width: 2px;

        @media screen and (min-width: 1024px) {
          margin-top: 4px;
        }

        @media screen and (max-width: 450px) {
          padding: 16px 20px;
        }

        &:hover {
          color: #0f2565;
          background-color: #ffffff;
          border-color: #0f2565;
        }
      }

      > div {
        color: #878787;
        font-size: 14px;
        line-height: 22px;
      }
    }

    div.legend {
      h2 {
        padding-top: 35px;
      }

      div.data {
        color: #0f2565;
        @include font-bold();
        font-size: 23px;
        line-height: 21px;


        + div.data {
          margin-top: 35px;
        }

        strong,
        .description {
          color: #0f2565;
          @include font-bold();
          font-size: 14px;
          line-height: 21px;
          display: block;
        }

        .description {
          font-weight: 400;
          margin-top:15px;
        }

        > span {
          display: block;
          width: 26px;
          height: 40px;
          float: left;
          margin-right: 10px;
        }
      }
    }
  }

  .contact_form {
    h1 {
      margin-bottom: 25px;
    }
  }

  &.login,
  &.signup {
    hr {
      margin-top: 25px;
      border: 1px solid #f2f2f2;
    }

    h3 {
      margin-bottom: 15px;
    }

    h1.small {
      font-size: 23px;
      margin-bottom: 20px;
    }

    .input-lg {
      font-size: 14px;
    }

    .social-auth {
      padding: 0;

      li {
        display: inline-block;

        &:before {
          display: none;
        }

        + li {
          margin-left: 10px;
        }

        a {
          color: #fff;
          padding: 4px 7px;
          color: white;
          font-size: 14px;
          @include font-bold();
          width: 150px;
          height: 49px;
          text-align: left;

          &.facebook {
            background: #3b5998;
            padding: 2px 7px;
          }

          &.google {
            background: #df4a32;
            padding: 5px 7px;
          }

          span {
            font-size: 19px;
            border-right: 1px solid rgba(255, 255, 255, 0.3);
            padding: 5px 9px 5px 3px;
            display: inline-block;
            margin-top: 1px;
            margin-right: 12px;

            &.icon-google {
              font-size: 14px;
              padding: 10px 12px 10px 6px;
            }

            &.icon-facebook {
              margin-top: 3px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  body {
    &.training.index,
    &.school.view{
      .tab-pane {
        padding-top: 64px;

        select[name="sorting"] {
          background: #f1f1f1;
          border: none;
          color: #0F2565;
          font-size: inherit;
          overflow: hidden;
          padding: 5px 10px;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: 700;
          max-width: 85%;
          padding-left: 0;
          position: relative;
          left: -5px;
        }
      }
    }

    &.school.view{
      .tab-pane {
        padding-top: 15px;
      }

      .not-padding{
        position: relative;

        .sorting{
          +.nav.nav-tabs{
            display: none;
          }
        }
      }
    }
  }
}

body {
  &.school.view{
    .tab-pane {
      select[name="sorting"] {
        left: 10px;
      }
    }

    .not-padding{
      position: relative;

      .sorting{
        +.nav.nav-tabs{
          right: 10px;
        }
      }
    }
  }
}

.navbar-nav {
  &.nav {
    white-space: nowrap;
    padding: 0;
    margin-top: 3px;

    > li {
      position: relative;
      display: inline-block;
      float: none;

      a {
        font-weight: 600;
        letter-spacing: 0.05em;
      }

      &.login {

        @media screen and (min-width: 767px) {
          padding-left: 80px;
        }

        > a {
          padding-top: 5px;
          padding-bottom: 5px;
        }

        &.login {
          padding-top: 3px;
          > a {
            border: 1px solid #fff;

            &:hover{
              background: #fff;
              color: #0F2565;
            }
          }
        }
      }
    }
  }
}

.strong {
  @include font-bold();
}

footer {
  padding: 30px 0;

  label{
    @media screen and (max-width: 400px) {
      color: #fff;
      padding-left: 15px;
    }
  }

  .select2-container--krajee{
    width: 90px !important;
    position: absolute;
    right: 0;
    bottom: 20px;

    &.select2-container--open{
      .select2-selection{
        border: 1px solid #f1f1f1 !important;
      }
    }

    .select2-selection__rendered{
      line-height: 33px;
      color: #fff !important;
      padding-left: 0 !important;
    }

    .select2-selection{
      height: 40px !important;
      border-radius: 0px;
      background-color: #0F2565;
      border: 1px solid #f1f1f1 !important;
    }

    .select2-selection--single{
      padding: 2px 10px;
      .select2-selection__arrow {
        height: 36px !important;
        top: 0px !important;

        b:before {
          top: 15px;
          left: 13px;
          color: #fff !important;
        }
      }
    }

    @media screen and (max-width: 767px) and (min-width:401px) {
      position: relative;
      top:0px;
      left:0px;
      float:right;
      width:110px !important;

      .select2-selection {

        .select2-selection__rendered {
        }

        .select2-selection__arrow b:before {
          left: 5px !important;
        }
      }
    }

    @media screen and (max-width: 400px) {
      top: 0;
      margin: 0 auto;
      left: 0;
      position: relative;
      width: 100% !important;

      .select2-selection {
        height: 56px !important;

        .select2-selection__rendered {
          line-height: 46px;
          font-size: 29px;
        }

        .select2-selection__arrow b:before {
          top: 23px;
          left: 0px;
        }
      }
    }
  }

  p {
    letter-spacing: 0.025em;
    line-height: 21px;
    font-weight: 600;
    margin-bottom: 0;
  }

  a {
    + h3 {
      margin-bottom: 0;
    }
  }

  .col-lg-12 {
    @media screen and (max-width: 767px) {
      text-align: center;
      p,
      a + h3 {
        text-align: left;
      }
    }
  }

  h3 {
    font-size: 17px;
    margin-bottom: 10px;
    clear: both;
    letter-spacing: 0.025em;

    @media screen and (max-width: 400px) {
      margin-top: 15px;
    }
  }

  a.btn {
    background: #0F2565;
    color: #fff;
    border: 2px solid #fff;
    display: inline-block;
    margin-top: 5px;
    padding: 17px 35px;
    margin-bottom: 25px;
    font-size: 24px;
    letter-spacing: 0.025em;

    &:hover{
      background: #fff;
      color: #0F2565;
      border: 2px solid #d9d9d9;
    }

    @media screen and (min-width: 768px) {
      float: left;
    }

    + a.btn {
      @media screen and (min-width: 768px) {
        margin-left: 15px;
      }
    }

    @media screen and (max-width: 599px) {
      margin-bottom: 5px;
      + a.btn {
        margin-bottom: 25px;
      }
    }

    @media screen and (max-width: 400px) {
      display: block;
      text-align: center;
      + a.btn {
        margin-top: 15px;
      }
    }

  }

  @media screen and (max-width: 767px) and (min-width:401px) {
    form {
      margin-bottom:20px;
      height:auto;
      overflow: auto;

      .form-group {
        float: right;
        margin: 0px;
        margin-left: 10px;
      }
      .form-group label {
        display: none;
      }
    }
  }
}

.kv-alert {
  position: fixed;
  top: 0;
  z-index: 15000;
  width: 100%;
  border-radius: 0;

  h1 {
    color: white;
    font-size: 23px;
    line-height: 31px;
    padding-top: 12px;
    padding-bottom: 12px;

    &.success {
      color: #000;
    }
  }

  &.alert-danger,
  &.alert-warning {
    border-color: #ff2942;
    color: #fff;
    background-color: #ff2942;

    h1 {
      color: #fff;
    }
  }
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  margin-left: 0;
}

.datepicker.datepicker-dropdown {
  background-color: #0F2565;
  padding: 15px 23px;
  margin-top: -1px;
  border-radius: 0;
  box-shadow: none;
  border: none;
  z-index: 51 !important;

  &.datepicker-orient-right{
    right: 0 !important;
  }

  &.datepicker-orient-left{
    left: 0 !important;
  }

  table {
    * {
      color: #fff;
      width: auto;
      height: auto;

      &.glyphicon {
        color: #0f2565;
      }

      &.dow{
        text-transform: uppercase;
        padding-top: 20px;
      }
    }
    thead {
      tr:nth-child(2) {
        th {
          background-color: #fff;
          border-radius: 0px;
          color: #0f2565;
        }
      }
    }

    tr {
      td {
        border-radius: 0;
        padding: 3px 5px;
        &.active:active,
        &.active.highlighted:active,
        &.active.active,
        &.active.highlighted.active,
        &:hover {
          color: #0f2565;
          background-color: #fff;
          border-color: #fff;
        }

        &.old,
        &.new{
          color: #fff;
          opacity: 0.25;
        }
      }
    }
  }
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #767676;
}

.has-success.select2-container--krajee .select2-dropdown,
.has-success .select2-container--krajee .select2-selection,
.has-success .select2-container--open .select2-selection,
.has-success .select2-container--krajee.select2-container--focus .select2-selection {
  border-color: #f1f1f1;
  border-bottom-color: #0f2565;
}

.bg-grey.training-list {
  .select2-container--krajee {
    .dropdown-wrapper {
      color: #a9a9a9;
    }

    .select2-selection__rendered {
      font-size: 14px;
    }

    .select2-selection--single .select2-selection__arrow b{
      color: #a6a6a6 !important;
    }

    &.select2-container--open{
      .select2-selection--single .select2-selection__arrow b{
        color: #fff !important;
      }
    }
  }
}

.datepicker-dropdown{

  >div:not(.datepicker-days){
    display: none !important;
  }

  >.datepicker-days{
    display: block !important;
  }

}

.rating-container{
  .filled-stars{
    color: #0f2565;
    text-shadow: none;
    border: none;
  }

  .star{
    &:hover{
      cursor:pointer;
    }
  }

  .label{
    background-color: transparent !important;
    color: #0f2565;
  }
}

.schoolRatesForm{
  textarea{
    height: 130px;
  }

  textarea,
  input{
    background: #fff;
  }
}

#mapa-div,
#mapa-div2{
  height: 500px !important;
}

.infinite-scroll-loading-text{
  .loader{
    margin: -10px auto 35px auto;
  }
}

@media screen and (max-width: 700px) {
  .select2-container--krajee {
    .select2-results > .select2-results__options {
      max-height: 253px;
    }
    .select2-results__option {
      padding: 16px 6px 16px 6px;
    }
  }
}

@media screen and (max-width: 450px){
  .form-training-search {
    .form-group{
      .result{
        height: 56px;
        padding: 15px;
      }
    }

    .select2-container--krajee{
      .select2-selection{
        height: 56px !important;

        &.select2-selection--multiple{
          &:after{
            top: 19px;
          }
        }

        .select2-selection__arrow{
          b:before{
            top: 15px;
          }
        }
      }

      .select2-selection__rendered{
        line-height: 39px;
      }

      .select2-selection__choice{
        padding: 0px 0 0 !important;
        height: 56px !important;
      }

      .select2-search--inline{
        height: 56px !important;
        .select2-search__field{
          height: 56px !important;
        }
      }


    }

  }
}



.pagination{
  list-style-type: none !important;
  li{
    list-style-type: none !important;

    a, >span{
      padding: 11px 17px;
      border-radius: 0;
    }

    &.active {
      a {
        color: #fff !important;
      }
    }


  }
}